projects/hello-python/.venv/
projects/deck-of-cards/.venv/
projects/zen-of-python/.venv/
projects/swim-sessions/.venv/
projects/swim-club/.venv/
projects/swim-club-2/.venv/
projects/swim-club-webapp/.venv/
