body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: rgb(160, 240, 240);
    margin: 10%;
}

input[type=submit] {
    width: 8em;
    color: white;
    background-color: blue;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 0px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}